<h3>Best offer cars</h3>
<app-cat1-pager></app-cat1-pager>

<h3>Our car offers</h3>
<div class="row">
    <div *ngFor = "let product of productList$ | async" class="col-12 col-md-2 col-lg-2">
        <div class="card mt-2">
            <img class="card-img-top" src="{{ product.image }}" alt="">
            <div *ngFor = "let line of lines" class="card-body"> 
                {{ line.text }}            
                <input [(ngModel)]="product[line.key]" type="text" class="form-control" readonly> 
            </div>
            <button (click)="onDeleteClick(product)" class="btn btn-danger">
                <i class="fa fa-trash"></i> delete
            </button>
        </div>
        
    </div>
</div>

