<div class="row">
    <div *ngFor ="let product of products" class="col-12 col-md-2 col-lg-2">
        <div class="card mt-2">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title">{{ product.id }}: {{ product.name }}</h4>
                <button (click)="onDeleteClick(product)" class="btn btn-danger">
                    <i class="fa fa-trash"></i> delete
                </button>
            </div>
        </div>
    </div>
</div>
