<p>data-editor works!</p>
<h2>data-list</h2>
<div class="container">
    <ul>
        <li *ngFor="let product of listObservable | async">
            <button class="btn btn-primary">{{ product.name }}</button>

        </li>
    </ul>
</div>

<table id="data-list">
    <tr>
      <th *ngFor="let product of products">
        {{col}}
      </th>
    </tr>
    <tr *ngFor="let product of products">
      <td *ngFor="let col of index">
        {{product[col]}}
      </td>
      <td>
        <div class="btn-group">
            <app-action-button
                [btnClass]="'btn-info'"
                [icon]="'fa-eye'"
                (clicked)="onSelectButtonClick()">
            </app-action-button>
            <app-action-button
                [btnClass]="'btn btn-secondary'"
                [icon]="'fa-refresh'"
                (clicked)="onUpdateButtonClick()">
            </app-action-button>
            <app-action-button
                [btnClass]="'btn-danger'"
                [icon]="'fa-trash'"
                (clicked)="onDeleteButtonClick()">
            </app-action-button>
        </div> 
      </td>
    </tr>
  </table>


